* {
    background-color: #333;
    color: #777;
}

body {
    background-color: #333 !important;
}

.header {
    border-color: #777;
}

.custom-author-card {
    border-color: #777;
}

.custom-collapse-button {
    background-color: #333;
    border-color: #777;
}