* {
    background-color: #fff;
    color: #aaa;
}

body {
    background-color: #fff !important;
}

.header {
    border-color: #ccc;
}

.custom-author-card {
    border-color: #ccc;
}

.custom-collapse-button {
    background-color: white;
    border-color: #ccc;
}